.footer__link {
    margin-right: 18px;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
}
@media (max-width: 438px) {
    .footer__link {
        margin: 0;
}
}
